## VS Code subfolder with .json config/build/debug files
.vscode

## Program/Executable and object files
a.out
*.o

## macOS debugging folder
*.dSYM

## Build log and Valgrind log
build.log
valgrind.log

## New/Temp folders created to test new code, but don't include it in git
*_OOP
*_new
*_temp
*_tmp

## Mac/Windows annoying files
.DS_*
*esktop.ini
'RECYCLE.BIN'

